@model AppTrack.ViewModels.MemberProductCountReportViewModel
@{
    int thisCustID = 0;
    int thisVendorID = 0;
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid">

    <div class="col-md-12 nopadding">
        <h3>Member Enrollment and Retention By Product</h3>
        <a href="../MemberCounts/ByIMD">
            <div class="btn btn-xs btn-default pull-right" style="margin:20px;margin-top:-25px;">By IMD</div>
        </a>
        <a href="../MemberCounts/BySalesRep">
            <div class="btn btn-xs btn-default pull-right" style="margin:20px;margin-top:-25px;">By Sales Rep</div>
        </a>
        <a href="../MemberProductCounts/Index">
            <div class="btn btn-xs btn-success pull-right" style="margin:20px;margin-top:-25px;">By Product</div>
        </a>
        <a href="../MemberCounts/Index">
            <div class="btn btn-xs btn-default pull-right" style="margin:20px;margin-top:-25px;">By Type</div>
        </a>
                <div class="col-md-12 nopadding">
                    <div id="chartContainer1" class="col-md-3 pull-left">
                    </div>
                    <div class="col-md-1"></div>
                    <div id="chartContainer2" class="col-md-3 pull-left">
                    </div>
                    <div class="col-md-1"></div>
                    <div id="chartContainer3" class="col-md-3 pull-left">
                    </div>
                    <div class="col-md-1"></div>
                </div>

                <div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>
                <a href="../MemberProductCounts/Index?submit=Download">
                    <div class="fa fa-download pull-right" style="color:#000;padding:5px;padding-left:10px;padding-right:10px;border-radius:5px 5px; background-color:#CCC;"></div>
                </a>
                <div class="clearfix" style="clear:both;height:15px;"></div>

                <div class="col-md-12">
                    <table class="table table-hover table-striped table-responsive" id="myTable">
                        <thead>
                            <tr>
                                <th style="width:10%;">
                                    Status
                                </th>
                                <th style="width:10%;">
                                    Product
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel1
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel2
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel3
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel4
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel5
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel6
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel7
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel8
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel9
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel10
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel11
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel12
                                </th>
                                <th style="width:5%;">
                                    @Model.MemberProductCountReportListXTab[0].PeriodLabel13
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MemberProductCountReportListXTab)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData1)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData3)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData4)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData5)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData6)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData7)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData8)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData9)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData10)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData11)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData12)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PeriodData13)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
</div>
</div>

@section Scripts {
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/dimple.v2.1.6.min.js"></script>

    <script>

    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        var svg1 = dimple.newSvg("#chartContainer1", 400, 300);
        $.getJSON("../MemberProductCounts/StackedBarChartProduct/?ct=Type&st=MEMBERS", function (data1) {

            chart = new dimple.chart(svg1, data1);
            var xaxis = chart.addCategoryAxis("x", "Month", null);
            xaxis.addOrderRule("ID");
            xaxis.title = "";
            var yaxis = chart.addMeasureAxis("y", "Value");
            yaxis.title = "# of Members";
            chart.addSeries("Measure", dimple.plot.bar);
            //var s = chart.addSeries(["Order", "MyValue"], dimple.plot.bar);
            // s.addOrderRule("ID");
            chart.staggerDraw = true;
            chart.ease = "bounce";
            chart.draw(1000);
            svg1.append("text")
                .attr("x", 200)
                .attr("y", 20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .text("Active Members");
        });

        $.ajaxSetup({ cache: false });
        var svg2 = dimple.newSvg("#chartContainer2", 400, 300);
        $.getJSON("../MemberProductCounts/StackedBarChartProduct/?ct=Type&st=NEW", function (data2) {

            chart = new dimple.chart(svg2, data2);
            var xaxis = chart.addCategoryAxis("x", "Month", null);
            xaxis.addOrderRule("ID");
            xaxis.title = "";
            var yaxis = chart.addMeasureAxis("y", "Value");
            yaxis.title = "# of Members";
            chart.addSeries("Measure", dimple.plot.bar);
            chart.staggerDraw = true;
            chart.ease = "bounce";
            chart.draw(1000);
            svg2.append("text")
                .attr("x", 200)
                .attr("y", 20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .text("New Members");
        });

        $.ajaxSetup({ cache: false });
        var svg3 = dimple.newSvg("#chartContainer3", 400, 300);
        $.getJSON("../MemberProductCounts/StackedBarChartProduct/?ct=Type&st=CANCEL", function (data3) {

            chart = new dimple.chart(svg3, data3);
            var xaxis = chart.addCategoryAxis("x", "Month", null);
            xaxis.addOrderRule("ID");
            xaxis.title = "";
            var yaxis = chart.addMeasureAxis("y", "Value");
            yaxis.title = "# of Members";
            chart.addSeries("Measure", dimple.plot.bar);
            chart.staggerDraw = true;
            chart.ease = "bounce";
            chart.draw(1000);
            svg3.append("text")
                .attr("x", 200)
                .attr("y", 20)
                .attr("text-anchor", "middle")
                .style("font-size", "16px")
                .style("text-decoration", "underline")
                .text("Cancellations");
        });

    });
    </script>
}

