@{
    Layout = "~/Views/Shared/_SiteLayoutMember.cshtml";
    ViewBag.Title = "TaskList";
    ViewBag.thisPage = "TaskList";
    ViewBag.PageType = "TaskList";
}
@if (ViewBag.ErrorCode == Constants.fatalErrorCode)
{
    <div id="contactContainerDiv">
        <div class="col-sm-12" style="font-size: 1.5em">
            <br />
            <br />
            The following unexpected error was encountered:
            <br />
            <br />
            <span class=" text-danger">@ViewBag.ErrorMessage</span>
            <br />
            <br />
            Please contact technical support.
        </div>
    </div>
}
else
{
    @model AppTrack.ViewModels.CustomerNoteListViewModel

    <div class="h2" style="float:left">Task List</div>
    <div class="filterbar" style="display:block;clear:both;">
        <div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div id="customerNotesListDiv">
            <div class="col-sm-1 pull-right">
                @using (Ajax.BeginForm("AddTaskInit", "CustomerNotes", null,
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnFailure = "addNoteInitFailed",
                    OnSuccess = "addNoteInitSuccess",
                    UpdateTargetId = "addNoteContainerDiv"
                }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="NoteType" value="Task" />
                }
            </div>
            <div style="clear:both"></div>

            <div class="row">

                <div id="addNoteContainerDiv" class="row" style="display:none;">
                </div>

                <div id="editNoteContainerDiv" class="row" style="display:none;">
                </div>

                <!-- SEARCH NOTES FORM -->
                <div class="filterbar" id="searchNoteFormDiv">
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "taskListForm" } ))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.SearchNoteType)

                        if (User.IsInRole("MemberServicesManager"))
                        {
                            <div class="col-sm-3">
                                <label class="control-label">Assigned To</label>
                                <br />
                                @Html.DropDownListFor(model => model.SearchAssignedToID, Model.SearchAssignedToList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SearchAssignedToID, "", new { @class = "text-danger" })
                            </div>
                        }
                        else
                        {
                            Html.HiddenFor(model => model.SearchAssignedToID);
                        }
                        <div class="col-sm-2">
                            @Html.LabelFor(model => model.SearchNoteStatus, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.DropDownListFor(model => model.SearchNoteStatus, Model.SearchNoteStatusList, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SearchNoteStatus, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2" >
                            <label class="control-label">Scheduled From</label>
                            <br />
                            @Html.JQueryUI().DatepickerFor(model => model.SearchScheduledStartDate, new { @class = "form-control", id = "ScheduledStartDate" })
                            @*@Html.EditorFor(model => model.SearchStartDate, new { htmlAttributes = new { @class = "form-control date-picker" } })*@
                            @Html.ValidationMessageFor(model => model.SearchScheduledStartDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">To</label>
                            <br />
                            @Html.JQueryUI().DatepickerFor(model => model.SearchScheduledEndDate, new { @class = "form-control", id = "ScheduledEndDate" })
                            @*@Html.EditorFor(model => model.SearchEndDate, new { htmlAttributes = new { @class = "form-control date-picker" } })*@
                            @Html.ValidationMessageFor(model => model.SearchScheduledEndDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-4">
                            @Html.LabelFor(model => model.SearchPhrase, htmlAttributes: new { @class = "control-label" })
                            <br />
                            @Html.EditorFor(model => model.SearchPhrase, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SearchPhrase, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-sm-2">
                            <label class="control-label">&nbsp;</label>
                            <br />
                            <button class="btn btn-sm btn-info" type="submit" value="Search">Search</button>
                        </div>
                        <img id="ajax-loader" src="@Url.Content("~/Content/images/ajax-loader.gif")" style="display:none;" />
                    }
                </div>
                <div style="clear:both;height:10px;"></div>

                <table class="table table-hover table-striped table-responsive" id="tasksTable" style="padding-top:5px;font-size:1.1em;">
                    <thead>
                        <tr>
                            <th width="50%">
                                Name
                            </th>
                            <th width="50%">
                                Task
                            </th>
                            <th width="20%">
                                Due
                            </th>
                            <th width="20%">
                                Status
                            </th>
                            <th width="10%">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.CustomerNoteList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VendorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoteText)
                                </td>
                                <td>
                                        @if (@item.ScheduledDate != null)
                                        {
                                            int cmp = item.ScheduledDate.Value.CompareTo(DateTime.Now);

                                            if (cmp >= 0)
                                            {
                                                <span class="status-NEW">@Html.DisplayFor(modelItem => item.ScheduledDate)</span>
                                            }
                                            else
                                            {
                                                <span class="status-DELETED">@Html.DisplayFor(modelItem => item.ScheduledDate)</span>
                                            }
                                        }
                                </td>
                                <td>
                                        <span class="status-@item.Status.ToUpper()">@Html.DisplayFor(modelItem => item.Status)</span>
                                </td>
                                <td>
                                        <span>
                                            <a href="#" onclick="editNoteInit(@item.NoteID)"><span class="fa fa-edit"></span></a>
                                        </span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div id="editNoteAjaxForm" style="display:block;">
                @using (Ajax.BeginForm("EditTaskInit", "CustomerNotes", null,
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnFailure = "editNoteInitFailed",
                    OnSuccess = "editNoteInitSuccess",
                    UpdateTargetId = "editNoteContainerDiv"
                }, new { id = "editNoteInitForm" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="NoteID" id="editNoteID" value="" />
                }
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $("#ScheduledStartDate").datepicker();
        $("#ScheduledEndDate").datepicker();
        $.validator.unobtrusive.parse(document);
    });

    function editNoteInit(thisNoteID) {
        $("#editNoteID").val(thisNoteID);
        $("#editNoteInitForm").submit();
    };

    function addNoteInitFailed() {
        alert("Error encountered, unable to initialize Add Note form.");
    }

    function addNoteInitSuccess() {
        $("#addNoteContainerDiv").show();
        $("#editNoteContainerDiv").hide();
    }
    function editNoteInitFailed() {
        alert("Error encountered, unable to initialize Edit Note form.");
    }

    function editNoteInitSuccess() {
        $("#addNoteContainerDiv").hide();
        $("#editNoteContainerDiv").show();
    }

    function showSearchNoteForm() {
        $('#addNoteContainerDiv').hide();
        $("#editNoteContainerDiv").hide();
        $('#searchNoteFormDiv').show();
    }

    function showNote(rowid) {
        $("#row" + rowid).show();
    }

</script>
