@model AppTrack.ViewModels.ItemPricingViewModel

@using (Html.BeginForm("_createPrice", "item"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ItemID)

    <div class="col-md-12">
        <div class="col-md-3" style="margin-top:5px;text-align:center;">
            @Html.LabelFor(model => model.RetailPrice, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
            @Html.EditorFor(model => model.RetailPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RetailPrice, "", new { @class = "text-danger" })
            <div class="row"></div>
        </div>

        <div class="col-md-3" style="margin-top:5px;text-align:center;">
            @Html.LabelFor(model => model.SalesPrice, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
            @Html.EditorFor(model => model.SalesPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SalesPrice, "", new { @class = "text-danger" })
            <div class="row"></div>
        </div>

        <div class="col-md-3" style="margin-top:5px;text-align:center;">
            @Html.LabelFor(model => model.TaxableAmount, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
            @Html.EditorFor(model => model.TaxableAmount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TaxableAmount, "", new { @class = "text-danger" })
            <div class="row"></div>
        </div>

        <div class="col-md-3" style="margin-top:5px;text-align:center;">
            @Html.LabelFor(model => model.ShippingValue, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
            @Html.EditorFor(model => model.ShippingValue, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ShippingValue, "", new { @class = "text-danger" })
            <div class="row"></div>
        </div>
    </div>

        <div class="col-md-12">
            <div class="col-md-4" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.CustTypeID, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.CustTypeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CustTypeID, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>

            <div class="col-md-4" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>

            <div class="col-md-4" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.PriceLevel, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.PriceLevel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PriceLevel, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>

            <div class="col-md-3" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.Volume1, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.Volume1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Volume1, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>

            <div class="col-md-3" style="margin-top:5px;text-align:center;">
                @Html.LabelFor(model => model.Volume2, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                @Html.EditorFor(model => model.Volume2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Volume2, "", new { @class = "text-danger" })
                <div class="row"></div>
            </div>

            <div class="col-md-3" style="margin-top:28px; margin-bottom:25px; text-align:right;">
                <input type="submit" value="Save" class="btn btn-sm btn-primary" />
            </div>
        </div>
}