@model AppTrack.Models.C_Notes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>C_Notes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoteText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoteText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResultDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResultDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
