@{
    Layout = "~/Views/Shared/_SiteLayoutMember.cshtml";
    ViewBag.EditCookie = "N";
}
    @if (ViewBag.ErrorCode == Constants.fatalErrorCode)
    {
        <div id="contactContainerDiv">
            <div class="col-sm-12" style="font-size: 1.5em">
                <br />
                <br />
                The following unexpected error was encountered:
                <br />
                <br />
                <span class=" text-danger">@ViewBag.ErrorMessage</span>
                <br />
                <br />
                Please contact technical support.
            </div>
        </div>
    }
    else
    {
        @model AppTrack.ViewModels.LocationProfileViewModel

        <h3 class="text-success">@(Model.LocationRecord.DisplayName)</h3>

        <div class="col-md-12">
            <ul id="tabstrip" class="nav nav-tabs" role="tablist">
                <li><a href="/SiteMember/LocationProfile/@Model.LocationRecord.CustID"><span class="text-success">Profile</span></a></li>
                <li><a href="/SiteMember/LocationEditAccount/@Model.LocationRecord.CustID"><span class="text-success">Account</span></a></li>
                <li><a href="/SiteMember/RebateCommissionList/@Model.LocationRecord.CustID"><span class="text-success">Rebates</span></a></li>
            </ul>

            <!-- Tab Content Containers -->
            <div class="tab-content" style="padding-top:15px;">
                <div class="tab-pane fade in active" id="SubProfile">

                    <div class="col-md-12 col-sm-12 pull-left" style="margin-left:-15px;">
                        <div class="panel panel-default" style="min-height:275px; box-shadow:#CCC 7px 7px;">
                            <div class=" panel-heading">Contact Information</div>
                            <div class="panel-body">
                                <div class="col-sm-4">Name:</div>
                                <div class="col-sm-8">@Model.LocationRecord.NameTitle @Model.LocationRecord.FirstName @Model.LocationRecord.LastName</div>
                                <div class="col-sm-4" style="clear:both">TIN Name:</div>
                                <div class="col-sm-8">@Model.LocationRecord.Company</div>
                                <div class="col-sm-4" style="clear:both">Address:</div>
                                <div class="col-sm-8">
                                    @if (Model.LocationRecord.Address1 != "")
                                    {
                                        @Model.LocationRecord.Address1
                                        if (Model.LocationRecord.Address2 != "")
                                        {
                                            <span>,</span> @Model.LocationRecord.Address2
                                        }
                                        <br />
                                        @Model.LocationRecord.City<span>,</span> @(Model.LocationRecord.State)@:&nbsp;   @(Model.LocationRecord.PostalCode)
                                        <br />
                                    }
                                </div>
                                <div class="col-sm-4" style="clear:both">Phone:</div>
                                <div class="col-sm-8">@Model.LocationRecord.DayPhone</div>
                                <div class="col-sm-4" style="clear:both">Email:</div>
                                <div class="col-sm-8">@Model.LocationRecord.Email</div>
                                @if (Model.LocationRecord.CustID > 1000)
                                {
                                    <div class="col-sm-4" style="clear:both">Member ID:</div>
                                    <div class="col-sm-8">@Model.LocationRecord.CustID </div>
                                }
                                <div class="col-sm-12" style="position:absolute;left:0px;bottom:0px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 pull-left" style="margin-left:-15px;">
                        <div class="panel panel-default" style="min-height:275px; box-shadow:#CCC 7px 7px;">
                            <div class=" panel-heading">Rebates</div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped table-responsive" id="documentsTable" style="font-size:.8em">
                                    <thead>
                                        <tr>
                                            <th>
                                                Period
                                            </th>
                                            <th>
                                                Vendor
                                            </th>
                                            <th>
                                                Amount
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.CommissionHeaderList)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PeriodName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CommissionName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Commission)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            <div id="suspendPanel" style="position:fixed; top:-300px; left:50%;margin-left:-350px; width:700px; height:400px; background-color:#fff; border:1px #369 solid; display:none;z-index:3;">
                <div class="panel panel-danger-dark" style="min-height:250px;">
                    <div class=" panel-heading">
                        <h3 style="color:#FFF;">Update the new status and select Save</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("DeleteLocation", "Member", FormMethod.Post, new { CustID = @Model.LocationRecord.CustID }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="col-sm-6"><strong>@Model.LocationRecord.NameTitle @Model.LocationRecord.FirstName @Model.LocationRecord.LastName</strong></div>
                            <div class="col-sm-6 right"><strong>Current Status: @Model.LocationRecord.Status: @Model.LocationRecord.StatusID</strong></div>
                            <div class="col-sm-6">@Model.LocationRecord.Company</div>
                            <div class="col-sm-6">Member ID:@Model.LocationRecord.CustID </div>
                            <div class="col-sm-6">Phone: <strong>@Model.LocationRecord.DayPhone</strong></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6">Email:<strong>@Model.LocationRecord.Email</strong></div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6" style="margin-top:15px;">
                                Change Status To:
                                @Html.DropDownListFor(model => model.LocationRecord.Status, Model.statusList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.statusList, "", new { @class = "text-danger" })
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-12" style="margin-top:15px;margin-bottom:20px;">
                                Comments
                                <br />
                                <textarea name="comments" rows="5" cols="60"></textarea>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6">
                                    <div class="btn btn-sm bg-success-dark" id="cancelChange">Cancel Change</div>
                                </div>
                                <div class="col-sm-6">
                                    <button class="btn btn-sm bg-danger-dark" id="saveChange">Save Change</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="panel-footer">
                        Select the new Status and select "SAVE"
                    </div>
                </div>
            </div>

            <script>

                $("#suspendLocationLink").click(function () {
                    if ($("#suspendPanel").css("display") == "none") {
                        $(".alphapagelayer").show();
                        $("#suspendPanel").show();
                        $("#suspendPanel").animate({ top: "70px" }, 1000).delay(100).animate({ top: "50px" }, 500);
                    }
                    else {
                        $("#suspendPanel").animate({ top: "-500px" }, 1000).delay(100).hide().delay(100);
                        $("#suspendPanel").hide();
                        $(".alphapagelayer").hide();
                    }
                });
                $("#cancelChange").click(function () {
                    $("#suspendPanel").animate({ top: "-500px" }, 1000).delay(100).hide().delay(100);
                    $("#suspendPanel").hide();
                    $(".alphapagelayer").hide();
                });
                </script>

    
    
}

