@{
    Layout = "~/Views/Shared/_SiteLayoutMember.cshtml";
    ViewBag.EditCookie = "N";
}
@if (ViewBag.ErrorCode == Constants.fatalErrorCode)
{
    <div id="contactContainerDiv">
        <div class="col-md-12" style="font-size: 1.5em">
            <br />
            <br />
            The following unexpected error was encountered:
            <br />
            <br />
            <span class=" text-danger">@ViewBag.ErrorMessage</span>
            <br />
            <br />
            Please contact technical support.
        </div>
    </div>
}
else
{
    @model AppTrack.ViewModels.SiteMemberEditLocationViewModel
    <h3 class="text-success">@(Model.DisplayName)</h3>

    <div class="col-md-12">
        <ul id="tabstrip" class="nav nav-tabs" role="tablist">
            <li><a href="/SiteMember/LocationProfile/@Model.CustID"><span class="text-success">Profile</span></a></li>
            <li><a href="/SiteMember/LocationEditAccount/@Model.CustID"><span class="text-success">Account</span></a></li>
            <li><a href="/SiteMember/RebateCommissionList/@Model.CustID"><span class="text-success">Rebates</span></a></li>
        </ul>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @if (ViewBag.ErrorMessage != "")
                    {
            <span class="text-success">@ViewBag.ErrorMessage</span>
                    }
        @using (Html.BeginForm("LocationEditAccount", "SiteMember", FormMethod.Post, new { id = "updateLocationForm", @class = "form-horizontal", role = "form" }))
                    {
            @Html.AntiForgeryToken()
            <input type="hidden" name="ErrorCode" id="ErrorCode" value="@ViewBag.ErrorCode" />
            @Html.HiddenFor(model => model.CustID)
            @Html.HiddenFor(model => model.SponsorID)
            @Html.HiddenFor(model => model.ParentID)
            @Html.HiddenFor(model => model.EmailFlag)
            @Html.HiddenFor(model => model.TextFlag)
            @Html.HiddenFor(model => model.ParentID)
            @Html.HiddenFor(model => model.ParentID)
            <input type="hidden" name="FormAction" id="FormAction" value="" />
            <div class="panel panel-primary" style="box-shadow:#ccc 7px 7px;">
                <div class="panel-heading">
                    <h4 style="color:#FFF;">Edit the Location Information Below.</h4>
                </div>
                <div class="panel-body  nopadding" style="background-color:#FFF;">
                    <div class="col-md-12 nopadding" style="background-color:#FFF;">
                        <div class="col-md-12">
                            <span style="font-size:smaller;color:#808080">* required fields</span>
                            <br />
                            <div class="col-md-6" style="margin-top:5px;">
                                @Html.LabelFor(model => model.DisplayName, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control col-md-8", maxlength = "100" } })
                                @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @Html.LabelFor(model => model.CompanyPhone, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.CompanyPhone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                                @Html.ValidationMessageFor(model => model.CompanyPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                                @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6" style="margin-top:5px;">
                                @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6" style="margin-top:5px;">
                                @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6" style="margin-top:5px;">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", maxlength = "50" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.DropDownListFor(model => model.State, Model.StateList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @Html.LabelFor(model => model.PostalCode, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.PostalCode, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                                @Html.ValidationMessageFor(model => model.PostalCode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2" style="margin-top:5px;">
                                @Html.LabelFor(model => model.NameTitle, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.DropDownListFor(model => model.NameTitle, Model.NameTitleList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NameTitle, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5" style="margin-top:5px;">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5" style="margin-top:5px;">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-3" style="margin-top:5px;">
                                @Html.LabelFor(model => model.DayPhone, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.DayPhone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                                @Html.ValidationMessageFor(model => model.DayPhone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-9" style="margin-top:5px;">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", maxlength = "100", type = "email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12" style="margin-top:5px;">
                            <div class="form-group">
                                <div id="primarycontact" class="Save btn btn-sm btn-primary pull-right" style="margin-right:20px;">Save</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div class="panel panel-success-dark" style="box-shadow:#ccc 7px 7px;border:1px #666 solid;">
        <div class="panel-heading">
            <div class="panel-title">
                <h4 style="color:#FFF;">Rebate Payout Information</h4>
            </div>
        </div>
        <div class="panel-body nopadding" style="background-color:#FFF;">
            <div class="col-md-6" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipAddress1, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipAddress1, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.ShipAddress1, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipAddress2, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipAddress2, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.ShipAddress2, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-5" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipCity, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipCity, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.ShipCity, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipState, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipState, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.ShipState, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipPostalCode, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipPostalCode, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                @Html.ValidationMessageFor(model => model.ShipPostalCode, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-8" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipEmail, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipEmail, new { htmlAttributes = new { @class = "form-control", maxlength = "100", type = "email" } })
                @Html.ValidationMessageFor(model => model.ShipEmail, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4" style="margin-top:5px;">
                @Html.LabelFor(model => model.ShipPhone, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                @Html.EditorFor(model => model.ShipPhone, new { htmlAttributes = new { @class = "form-control", type = "tel" } })
                @Html.ValidationMessageFor(model => model.ShipPhone, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-12" style="margin-top:5px;">
                <div class="form-group">
                    <div id="rebatepayee" class="Save btn btn-sm btn-primary pull-right" style="margin-right:20px;">Save</div>
                </div>
            </div>
        </div>
    </div>

                    }
        </div>

            <script>
            $(document).ready(function () {

                    $("#rebatepayee").click(function (event) {
                        $("#FormAction").val = "rebatepayee";
                        $("#updateLocationForm").submit();
                    });

                    $("#primarycontact").click(function (event) {
                        $("#FormAction").val = "primarycontact";
                        $("#updateLocationForm").submit();
                    });
                $.validator.unobtrusive.parse(document);
                $("#CompanyPhone").mask("(999)999‐9999?x9999");
                $("#DayPhone").mask("(999)999‐9999?x9999");
                $("#Mobile").mask("(999)999‐9999");
                $("#Fax").mask("(999)999‐9999");
            });
        </script>
}

