@{
    Layout = "~/Views/Shared/_SiteLayoutMember.cshtml";
    ViewBag.PageType = "MemberVendorSelect";
    var YesChecked = "";
    var NoChecked = "";
    var NotWithAppTrackChecked = "";
    var LastCategoryName = "";
    int i = 0;
    var btnclass = "";
}

@model AppTrack.ViewModels.MemberVendorViewModel

<div id="row">
    <div class="panel panel-default" style="box-shadow:#ccc 7px 7px;margin-top:20px;">
        <div class="panel-body nopadding">
            <div class="col-sm-12">
                <h4 style="margin-bottom:0;">My Vendors</h4>
                @foreach (var item in Model.MemberVendorList)
                {
                    if (LastCategoryName != item.CategoryName)
                    {
                        i = i + 1;
                        if (LastCategoryName != "")
                        {
                            @Html.Raw("</div>");
                            @Html.Raw("</div>");
                            if (i == 3)
                            {
                                @Html.Raw("<div style='clear:both;'></div>");
                                i = 1;
                            }
                        }
                        @:<div class='col-md-6 pull-left nopadding' style='padding-right:5px;'>
                        @:<div style='position:relative;color:#008ed3;font-size:16px;vertical-align:bottom;font-weight:600;min-height:45px;'><div style="position:absolute;bottom:0;">@item.CategoryName</div></div>
                        @:<img src='../../images/RoyalBlueShortBar.png' style='width:100%;margin-bottom:-7px;' />
                        @:<div style='min-height:100px;' id='SRContactLens'>            
                        LastCategoryName = item.CategoryName;
                    }
                              if (item.Participation.ToUpper() == "YES")
                              {
                              btnclass="green";
                              }
                              if (item.Participation.ToUpper() == "NO")
                              {
                              btnclass="gray";
                              }
                              if (item.Participation.ToUpper() == "NOT WITH AppTrack")
                              {
                              btnclass="yellow";
                              }
                              @:<strong style="color:@btnclass">@Html.DisplayFor(modelItem => item.Company)</strong>
                    <br />
                }
            </div>
        </div>
    </div>
</div>
    </div>
</div>


<script>


    $('.checkbox-inline').click(function (event) {
        var vendor = event.target.id;
        var participation = $(this).val();
        var targetID = "#MSG-"+ vendor;
        var reqTargetID = "#MR-"+ vendor;
        if ( $( reqTargetID).length ){
            if (participation == "Yes"){
                $(reqTargetID).fadeIn();
            }else{
                $(reqTargetID).fadeOut();
            }
        }
        var itemID = 0;
        var sendData = { CustID: @Model.CustID, VendorID: vendor, Participation: participation, ItemID: itemID };
        var url = "/Member/MemberVendorProgramSelect";
        $.post(url, sendData)
          .done(function (data) {
              //      alert("Data Sent: " + data);
              //      alert("Data Loaded: " + data);
              $(targetID).empty().append(data);
          })
          .error(function (data) {
              alert("Data Not Loaded: " + data);
          })
    });



    $('.req-inline').click(function (event) {
        var vendor = event.target.id;
        //        alert(vendor);
        vendor = vendor.replace("MR-","");
        //                 alert(vendor);
        var targetID = "#MSG-"+ vendor;
        //        alert(targetID );
        var itemID = 0;
        var sendData = { CustID: @Model.CustID, VendorID: vendor};
        var url = "/Member/MemberVendorRequirement";
        $.get(url, sendData)
        .done(function (data) {
            //            alert("Data Loaded: " + data);
            $(targetID).empty().append(data);
        })
        .error(function (data) {
            //            alert("Data Not Loaded: " + data);
        })
    });

</script>


<div class="col-sm-12" style="border:1px #CCC dashed;" id="MRpanel">
</div>
