@model AppTrack.ViewModels.MemberEnrollmentPrep

<div id="enrollRightCol4">
    <div class="panel panel-info panel-info-dark">
        <div class="panel-heading">
            <div class="panel-title">
                Select the AppTrack Sales Rep and referring IMD.
            </div>
        </div>
        <div class="panel-body" style="min-height:300px;">
            @using (Ajax.BeginForm("MemberEnrollmentIMD", "MemberEnrollment", null,
                         new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnSuccess = "OnSuccess1",
                            OnFailure = "OnFailure1",
                            LoadingElementId = "ajax-loader",
                            UpdateTargetId = "enrollRightCol4"
                        }, new { id = "memberEnrollmentForm3" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="col-md-12">
                    @Html.HiddenFor(model => model.ItemID)
                    @Html.HiddenFor(model => model.PromotionID)
                    <div class="col-md-5" style="margin-top:5px;">
                        @Html.LabelFor(model => model.SponsorID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SponsorID, Model.RepList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SponsorID, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-5" style="margin-top:5px;">
                        @Html.LabelFor(model => model.SecSponsorID, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.SecSponsorID, Model.IMDList, new { @class = "form-control", @id = "IMDID" })
                        @Html.ValidationMessageFor(model => model.SecSponsorID, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <br />
                        <input type="submit" name="button" value="Next" class="btn btn-sm btn-info pull-right">
                    </div>
                    <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none;" />
                </div>
            }
        </div>
        <div class="panel-footer">
            Next: Select the meeting the new member attended.
        </div>
    </div>
</div>

<script>
    function OnSuccess1() {
    }
    function OnFailure1() {
    }
</script>
