@{
    var IndexStyle = "";
    var VendorsStyle = "";
    var TasksStyle = "";
    var EditAccountStyle = "";
    var ResetPasswordStyle = "";
    if (ViewBag.PageType == "Index")
    {
        IndexStyle = "nav-bg-info-dark";
    }
    if (ViewBag.PageType == "VendorList")
    {
        VendorsStyle = "nav-bg-info-dark";
    }
    if (ViewBag.PageType == "TaskList")
    {
        TasksStyle = "nav-bg-info-dark";
    }
    if (ViewBag.PageType == "EditAccount")
    {
        EditAccountStyle = "nav-bg-info-dark";
    }
    if (ViewBag.PageType == "ResetPasswordList")
    {
        ResetPasswordStyle = "nav-bg-info-dark";
    }
}
<div class="pull-left col-md-12 nopadding" >
    <a href="@Url.Action("Index", "SiteMember")">
        <div class="pull-right idocsubnav @IndexStyle" style="width:100%;border:1px #333 solid;margin-top:10px;" id="SavingsAndRebatesStyle">
            Home
        </div>
    </a>
    <a href="@Url.Action("Index", "MemberVendor")">
        <div class="pull-right idocsubnav @VendorsStyle" style="width:100%; border:1px #333 solid;margin-top:10px;" id="SavingsAndRebatesStyle">
            My Community
        </div>
    </a>
    <a href="@Url.Action("TaskList", "CustomerNotes")">
        <div class="pull-right idocsubnav @TasksStyle" style="width:100%; border:1px #333 solid;margin-top:10px;" id="SavingsAndRebatesStyle">
            My Tasks
        </div>
    </a>
    <a href="@Url.Action("EditAccount", "SiteMember")">
        <div class="pull-right idocsubnav @EditAccountStyle" style="width:100%;border:1px #333 solid;margin-top:10px;" id="SavingsAndRebatesStyle">
            My Account
        </div>
    </a>

</div>

