@{
    var LastCategoryName = "";
    int i = 0;
}

<div class="hidden-xs hidden-sm nopadding">
    <div id="row">
        <div class="panel panel-default" style="box-shadow:#ccc 7px 7px;margin-top:20px;">
            <div class="panel-body nopadding">
                <div class="col-sm-12">
                    <h4 style="margin-bottom:0;">Vendor Programs</h4>
                    <table width="100%">
                        @foreach (var item in Model)
                        {
                            if (LastCategoryName != item.CategoryName)
                            {
                                i = i + 1;
                                if (LastCategoryName != "")
                                {
                                    @:</td>
                                    if (i == 4)
                                    {
                                        @Html.Raw("</tr>");
                                        @Html.Raw("<tr>")
                                        i = 1;
                                    }
                                }
                                @:<td style="width:33.33%;vertical-align:top;background-color:#ccc;border-right: solid #fff 5px;">
                                @:<div style='position:relative;color:#008ed3;font-size:16px;vertical-align:bottom;font-weight:600;min-height:50px;background-color:#fff;margin-bottom:-10px;'><div style="position:absolute;bottom:0;margin-left:3px;">@item.CategoryName</div></div>
                                if (i == 1)
                                {
                                    <div style="background-color:#fff;height:auto;"><img src="../../images/RoyalBlueShortBar.png" style="width:100%;border:0;margin-bottom:-9px;" /></div>
                                }
                                if (i == 2)
                                {
                                    <div style="background-color:#fff;height:auto;"><img src="../../images/BlueGreenShortBar.png" style="width:100%;border:0;margin-bottom:-9px;" /></div>
                                }
                                if (i == 3)
                                {
                                    <div style="background-color:#fff;height:auto;"><img src="~/images/GreenLightGreenShortBar.png" style="width:100%;border:0;margin-bottom:-9px;" /></div>
                                }

                                LastCategoryName = item.CategoryName;
                            }
                            <br />
                        }
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<div class="hidden-md hidden-lg nopadding">
    <div id="row">
        <h4 style="margin-bottom:0;">Vendor Programs</h4>
        @foreach (var xsitem in Model)
        {
            if (LastCategoryName != xsitem.CategoryName)
            {
                if (LastCategoryName != "")
                {
                    @:</div>
                }
                @:<div style='position:relative;color:#008ed3;font-size:16px;vertical-align:bottom;font-weight:600;min-height:50px;background-color:#fff;margin-bottom:-10px;'><div style="position:absolute;bottom:0;margin-left:3px;">@xsitem.CategoryName</div></div>
                @:<div style="background-color:#fff;height:auto;"><img src="../../images/RoyalBlueShortBar.png" style="width:100%;border:0;margin-bottom:-9px;" /></div>
                @:<div style="background-color:#ccc;height:auto;">


                LastCategoryName = xsitem.CategoryName;
            }
            @:<strong><a href="@Url.Action("VendorDetail", "SiteMember", new { @id = xsitem.CustID, @programID = xsitem.ProgramID })">&nbsp;@Html.DisplayFor(modelItem => xsitem.ProgramName)</a></strong>
            @:<br />
        }
    </div>
</div>

