<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @if (Constants.siteURL != "http://AppTrack.net")
    {
        <meta name="robots" content="noindex">
    }
    @if (ViewBag.Title == "")
    {
        ViewBag.Title = "AppTrack";
    }
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/loyaltybenefitsSiteMobile.css" rel="stylesheet">
    @Styles.Render("~/Content/themes/base/css")
    <link rel="stylesheet" href="~/Content/jquery.dataTables.min.lb.css">
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     @Scripts.Render("~/bundles/ie")
     <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
</head>
<body>

    @Html.Partial("_SiteHeader")

    <div class="row clear">
        <div class="container nopadding" style="margin-top:0px;">
            <div class="col-md-2 hidden-xs hidden-sm pull-left" style="min-height:450px;">
                @{Html.RenderPartial("/Views/Shared/_LeftSideBarMember.cshtml");}
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12 pull-right no-offset nopadding">
                @RenderBody()
            </div>
        </div>
    </div>

    <div class="row nopadding" style="width:100%;height:5px;">
        <img src="../../images/FooterBar.png" class="nopadding" style="width:100%;height:5px;margin-top:-8px;" />
    </div>
    <div class="row nopadding bg-gray-dark" style="width:100%;height:105px;">
        <div class="container nopadding bg-gray-dark">
            <div class="col-md-4 nopadding">
                &nbsp;
            </div>
            <div class="col-md-8 nopadding">
                <div class="row nopadding ">
                    <div class="col-md-4 nopadding" style="padding-top:25px;text-align:left;">
                        &copy; 2015 AppTrack
                    </div>
                    <div class="col-md-4 nopadding" style="padding-top:25px;text-align:center;">
                        All Rights Reserved
                    </div>
                    <div class="col-md-4 nopadding" style="padding-top:25px;text-align:right;">
                        <a href="/Site/PrivacyPolicy"><span style="color:#fff;">privacy policy</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script>
        // pulldown from top
        $(document).ready(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>

</body>
</html>

