@using Microsoft.AspNet.Identity
@{
    var EducationStyle = "";
    var IDOCStyle = "";
    var IDOCSelectStyle = "";
    var SavingsAndRebatesStyle = "";
    var GrowthSolutionsStyle = "";
    if (ViewBag.PageType == "IDOC")
    {
        IDOCStyle = "nav-bg-green-light";
    }
    if (ViewBag.PageType == "IDOCSelect")
    {
        IDOCSelectStyle = "nav-bg-success-dark";
    }
    if (ViewBag.PageType == "SavingsAndRebates")
    {
        SavingsAndRebatesStyle = "nav-bg-info-dark";
    }
    if (ViewBag.PageType == "Education")
    {
        EducationStyle = "nav-bg-primary-dark";
    }
    if (ViewBag.PageType == "GrowthSolutions")
    {
        GrowthSolutionsStyle = "nav-bg-royalty-dark";
    }
}

@*

    MOBILE VIEW

*@
<div class="hidden-md hidden-lg nopadding">
    <div class="container  nopadding" style="padding:0px;">
        <ul class="nav navbar-inverse nav-tabs nav-tabs-justified navbar-fixed-top" style="background-color:#333;padding:0px;">
            <li style="padding-top:7px;color:#fff;">@Html.ActionLink("About", "About", "Site")</li>
            <li style="padding-top:7px;color:#fff;">@Html.ActionLink("Contact", "Contact", "Site")</li>
            <li class="hidden-xs hidden-sm" style="padding-top:7px;color:#fff;">@Html.ActionLink("FAQ", "FAQs", "Site")</li>
            @if (!Request.IsAuthenticated)
            {
                <li style="padding-top:7px;color:#fff;">@Html.ActionLink("Join", "Index", "Enrollment", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li style="padding-top:7px;color:#fff;">@Html.ActionLink("Login", "Login", "Account", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            }
            else
            {
                <li style="padding-top:7px;color:#fff;">@Html.ActionLink("Logout", "LogOut", "Account")</li>
            }
        </ul>
    </div>
    <nav role="navigation" class="navbar navbar-default  navbar-static-top" style="margin-top:30px;margin-bottom:0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row" style="background-color:#EEE;">
                <div class="col-sm-4 navbar-header pull-left" style="padding-left:5px;">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle  pull-left" style="background-color:#EEE;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
            </div>
            <div class="row"></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbarCollapse" style="font-size:1.25em;padding-left:20px;background-color:#EEE;margin:0;z-index:10;">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {

                        <li style="padding-top:7px;border-bottom:1px #999 solid;"><a href="/SiteMember/Index">Home<span class="pull-right fa fa-arrow-right"></span></a></li>
                        <li style="padding-top:7px;border-bottom:1px #999 solid;"><a href="/MemberVendor/Index">My Community<span class="pull-right fa fa-arrow-right"></span></a></li>
                        <li style="padding-top:7px;border-bottom:1px #999 solid;"><a href="/CustomerNotes/TaskList">My Tasks<span class="pull-right fa fa-arrow-right"></span></a></li>
                        <li style="padding-top:7px;border-bottom:1px #999 solid;"><a href="/SiteMember/EditAccount">My Account<span class="pull-right fa fa-arrow-right"></span></a></li>
                        <li style="padding-top:7px;border-bottom:1px #999 solid;"><a href="/Account/RequestResetPassword">Update Password<span class="pull-right fa fa-arrow-right"></span></a></li>

                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="row"></div>
</div>

@*

    STANDARD VIEW

*@
<div class="hidden-sm hidden-xs">
    <div class="row nopadding">
        <div class="navbar navbar-inverse navbar-fixed-top bg-primary-dark nopadding">
            <div class="container nopadding">
                <div class=" pull-left col-md-4 nopadding">
                    &nbsp;
                </div>
                <div class="pull-right col-md-8 nopadding">
                    <div class="navbar-header nopadding">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="navbar-collapse collapse pull-right nopadding">
                        <ul class="nav navbar-nav">
                            <li style="padding-top:7px;">@Html.ActionLink("About Us", "About", "Site")</li>
                            <li style="padding-top:7px;">@Html.ActionLink("Contact Us", "Contact", "Site")</li>
                            <li style="padding-top:7px;">@Html.ActionLink("FAQs", "FAQS", "Site")</li>
                        </ul>
                        @Html.Partial("_SiteLoginPartial")
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container nopadding">
            <div class="col-md-4 pull-left">
                <div class="col-md-8 logoHeader" style="color:#0038A8; font-size:3em;font-weight:bold;padding-left:0px; padding-right:0px;text-align:center;">
                    AppTRACK
                </div>
            </div>
            <div class="col-md-8 pull-right logoHeader" style="padding-right:0px">
                @if (Request.IsAuthenticated)
                {
                    <div class="h4 col-md-12 nopadding pull-right" style="text-align:right;">
                        Welcome @ViewBag.DisplayName !
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row idocsubnavrow nopadding">
        <div class="container nopadding">
            <div class=" pull-left col-md-4 nopadding">
                &nbsp;
            </div>
            <div class="pull-right col-md-8 nopadding">
                <div class="pull-right col-md-12 nopadding">
                    <!--                    <a href="~/Site/GrowthSolutions">
                                    <div class="pull-right idocsubnav @GrowthSolutionsStyle" style="width:26%;" id="GrowthSolutionsStyle">
                                        Growth Solutions
                                    </div>
                                </a>
                                <a href="~/Site/Education">
                                    <div class="pull-right idocsubnav @EducationStyle" style="width:20%;" id="EducationStyle">
                                        Education
                                    </div>
                                </a>
                                <a href="~/Site/SavingsAndRebates">
                                    <div class="pull-right idocsubnav @SavingsAndRebatesStyle" style="width:20%;" id="SavingsAndRebatesStyle">
                                        Savings
                                    </div>
                                </a>
                                <a href="~/Site/IDOCSelect">
                                    <div class="pull-right idocsubnav @IDOCSelectStyle" style="width:21%;" id="IDOCSelectStyle">
                                        IDOC Select
                                    </div>
                                </a>
                                <a href="~/Site/IDOC">
                                    <div class="pull-right idocsubnav @IDOCStyle" style="border-left:1px #333 solid;width:13%;" id="IDOCStyle">
                                        IDOC
                                    </div>
                                </a>
            -->
                </div>
            </div>
        </div>
    </div>
</div>