<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@ViewBag.MetaDescription" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/loyaltybenefitsSiteMobile.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>/*<![CDATA[*/(function(w,a,b,d,s){w[a]=w[a]||{};w[a][b]=w[a][b]||{q:[],track:function(r,e,t){this.q.push({r:r,e:e,t:t||+new Date});}};var e=d.createElement(s);var f=d.getElementsByTagName(s)[0];e.async=1;e.src='//marketing.AppTrack.net/cdnr/28/acton/bn/tracker/18857';f.parentNode.insertBefore(e,f);})(window,'ActOn','Beacon',document,'script');ActOn.Beacon.track();/*]]>*/</script>

</head>
<body>

    @Html.Partial("_SiteHeader")

    @RenderBody()

    <div class="row nopadding hidden-xs hidden-sm" style="width:100%;height:5px;">
        <img src="../../images/FooterBar.png" class="nopadding" style="width:100%;height:5px;margin-top:-8px;" alt="Footer Bar - AppTrack Optometric Alliance" />
    </div>
    <div class="row nopadding bg-gray-dark  hidden-xs hidden-sm" style=" width:100%;height:105px;">
        <div class="container nopadding bg-gray-dark">
            <div class="col-md-4 nopadding">
                &nbsp;
            </div>
            <div class="col-md-8 nopadding">
                <div class="row nopadding ">
                    <div class="col-md-4 nopadding" style="padding-top:25px;text-align:left;">
                        &copy; 2016 Loyalty Benefits, Inc.
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        // pulldown from top
        $(document).ready(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {

                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 1000);
                        return false;
                    }
                }
            });
        });
    </script>
</body>
</html>
