@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right nopadding">
        @if (User.IsInRole("MemberDirector"))
        {
            <li class="bg-info-dark" style="padding-top:7px;">@Html.ActionLink("My Account", "Index", "SiteIMD", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        else
        {
            <li class="bg-info-dark" style="padding-top:7px;">@Html.ActionLink("My Account", "Index", "SiteMember", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        }
        <li class="bg-success-dark" style="padding-top:7px;"><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right nopadding">
        <li class="bg-info-dark" style="padding-top:7px;">@Html.ActionLink("Join AppTrack", "Index", "Enrollment", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="bg-success-dark" style="padding-top:7px;">@Html.ActionLink("Member Login", "Login", "Account", AppTrack.Constants.secureProtocol, AppTrack.Constants.siteDomain, "", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{
    @Html.AntiForgeryToken()
}
