@{
    ViewBag.Title = "IMDPayouts";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<div class="row nopadding">
    <div class="container nopadding" style="margin-top:0px;">
        <div class="col-md-4  pull-left" style="min-height:450px;">
            @{Html.RenderPartial("/Views/Shared/_LeftSideBarIMD.cshtml");}
        </div>
        <div class="col-md-8 pull-right no-offset nopadding">
            <div class="col-md-12 nopadding">
                @if (ViewBag.ErrorCode == Constants.fatalErrorCode)
                {
                    <div id="payoutContainerDiv">
                        <div class="col-sm-12" style="font-size: 1.5em">
                            <br />
                            <br />
                            The following unexpected error was encountered:
                            <br />
                            <br />
                            <span class=" text-danger">@ViewBag.ErrorMessage</span>
                            <br />
                            <br />
                            Please contact us so we can resolve this issue.
                        </div>
                    </div>
                }
                else
                {
                    @model AppTrack.ViewModels.PayoutListViewModel

                    <div id="payoutContainerDiv">
                        <div class="col-sm-6 nopadding">
                            <h3>Commission Payments</h3>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-sm-6 nopadding pull-right" style="text-align:right;padding-top:15px;">
                            <button class="btn btn-xs btn-info" onclick="showSearchPayoutForm()">
                                Search Payments
                            </button>
                        </div>

                        <div style="clear:both"></div>

                        <div class="nopadding" style="padding-top:10px;">

                            <!-- SEARCH FORM -->
                            <div class="filterbar" id="searchPayoutFormDiv" style="display:none;">
                                @using (Html.BeginForm("PayoutList", "SiteIMD", FormMethod.Post, new { id = "formPayoutList" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div>
                                        <div class="col-sm-2">
                                            <label class="control-label">Dates From</label>
                                            <br />
                                            @Html.JQueryUI().DatepickerFor(model => model.SearchStartDate, new { @class = "form-control" })
                                            @*@Html.EditorFor(model => model.SearchStartDate, new { htmlAttributes = new { @class = "form-control date-picker" } })*@
                                            @Html.ValidationMessageFor(model => model.SearchStartDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2">
                                            <label class="control-label">To</label>
                                            <br />
                                            @Html.JQueryUI().DatepickerFor(model => model.SearchEndDate, new { @class = "form-control" })
                                            @*@Html.EditorFor(model => model.SearchEndDate, new { htmlAttributes = new { @class = "form-control date-picker" } })*@
                                            @Html.ValidationMessageFor(model => model.SearchEndDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-sm-2 pull-right" style="text-align:right;">
                                            <label class="control-label">&nbsp;</label>
                                            <br />
                                            <button class="btn btn-sm btn-info" type="submit" value="Search">Search</button>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <table class="table table-hover table-striped table-responsive" id="payoutsTable" style="padding-top:10px;">
                            <thead>
                                <tr>
                                    <th>
                                        Payment Date
                                    </th>
                                    <th>
                                        Check #
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.PayoutList)
                                {
                                    <tr>
                                        <td>
                                            @item.PayoutDate.Value.ToString("MM/dd/yy hh:mm tt")
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CheckNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PayoutAmount)
                                        </td>
                                        <td style="text-align:center;">
                                            <a href="@Url.Action("CommissionList", "SiteIMD", new { PayoutID = item.ID })"><span class="fa fa-2x fa-users"></span></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <script>

                        $(document).ready(function () {
                            initializePayoutsTable();
                            $.validator.unobtrusive.parse(document);
                            $("#payoutEvent_EventStartDate").datepicker();
                            $("#SearchStartDate").datepicker();
                            $("#SearchEndDate").datepicker();
                        });

                        function initializePayoutsTable() {
                            $('#payoutsTable').dataTable(
                            {
                                "searching": false,
                                "bLengthChange": false,
                                "oLanguage": {
                                    "sInfo": "Showing rows _START_ to _END_ of _TOTAL_",
                                    "sLengthMenu": "Show _MENU_ rows per page",
                                    "sInfoEmpty": "0 records found",
                                    "sEmptyTable": "No payouts available to display"
                                }
                            });
                        };

                        function showSearchPayoutForm() {
                            $('#addPayoutButton').show();
                            $('#updatePayoutFormDiv').hide();
                            $('#searchPayoutFormDiv').show();
                        }

                    </script>
                }

            </div>
        </div>
    </div>
</div>



