@model AppTrack.ViewModels.EnrollmentPrimary

<div id="enrollRightCol2">
    <h1 class="text-primary-dark">AppTrack Enrollment</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-12">
            @if(ViewBag.ErrorCode == 0)
            {
              <span>Thank you for enrolling in the beta test of AppTrack.
                <br />
                <br />
                Click the Member Login link above to get started.
                </span>  
            }
            else
            {                    
                using (Ajax.BeginForm("EnrollmentPrimary", "Enrollment", null,
                new AjaxOptions
                {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                OnSuccess = "OnSuccess1",
                OnFailure = "OnFailure1",
                LoadingElementId = "ajax-loader",
                UpdateTargetId = "enrollRightCol2"
                }, new { id = "EPrimary" }))
                {
                    @Html.AntiForgeryToken()
                    <img id="ajax-loader" src="@Url.Content("~/Images/ajax-loader.gif")" style="display:none;" />
                    <div class="col-md-12" style="background-color:#EEE; padding:10px; margin-bottom:15px; margin-top:15px; border:1px dashed #808080; border-radius:5px 5px;">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="col-md-5 " style="margin-top:5px;">
                            *@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-5 " style="margin-top:5px;">
                            *@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", maxlength = "40" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-12 " style="margin-top:5px;">
                            *@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", maxlength = "100", type = "email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12" style="margin-top:5px;">
                            <strong>Create A Password:</strong>
                        </div>
                            <div class="col-md-6" style="margin-top:5px;">
                                *@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", maxlength = "20", type = "password" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6" style="margin-top:5px;">
                                *@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label", style = "font-weight:200;color:#333;  margin-bottom:-3px;" })
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", maxlength = "20", type = "password" } })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        <div class="col-md-12 " style="margin-top:5px;">
                            You will use your email address and this password to log into the AppTrack website.
                            <br />
                            Passwords should be at least 6 characters and have at least one uppercase letter, lowercase letter, number and special character. For example: DontUseThis1!
                        </div>
                    </div>
                    <div class="col-md-12 " style="margin-top:5px;">
                        <div class="form-group">
                            <span style="font-size:smaller;color:#808080">* required fields</span>
                            <div id="primarySubmit" class="btn btn-sm btn-primary pull-right">Save</div>
                        </div>
                    </div>
                }
            }

            </div>
        </div>
    </div>
</div>
<script>
    function OnSuccess1() {
    }
    function OnFailure1() {
    }
</script>

<script>

    $(document).ready(function () {

        $("#primarySubmit").click(function () {
            if ($("#EPrimary").valid()) {
                $("#primarySubmit").attr("disabled", "disabled");
                $("#EPrimary").submit();
            }
        });


    });
</script>
