@if (ViewBag.ErrorCode == Constants.fatalErrorCode)
{
    <div id="commissionContainerDiv">
        <div class="col-sm-12" style="font-size: 1.5em">
            <br />
            <br />
            The following unexpected error was encountered:
            <br />
            <br />
            <span class=" text-danger">@ViewBag.ErrorMessage</span>
            <br />
            <br />
            Please contact technical support.
        </div>
    </div>
}
else
{
    @model AppTrack.ViewModels.VolumeDetailListViewModel

    var SourceDateTitle = "";
    var SourceNameTitle = "";
    var SourceDescriptionTitle = "";
    decimal total = 0.0m;

    switch (Model.VolumeDetailList[0].VolumeID)
    {
        case 30:
            SourceDateTitle = "Commission Date";
            SourceNameTitle = "";
            SourceDescriptionTitle = "Description";
            break;

        case 40:
            SourceDateTitle = "Enrolled Date";
            SourceNameTitle = "Practice Name";
            SourceDescriptionTitle = "Contact";
            break;

        case 41:
            SourceDateTitle = "Enrolled Date";
            SourceNameTitle = "Practice Name";
            SourceDescriptionTitle = "Contact";
            break;

        case 45:
            SourceDateTitle = "Meeting Date";
            SourceNameTitle = "Topic";
            SourceDescriptionTitle = "Location";
            break;

        default:
            SourceDateTitle = "Period End Date";
            SourceNameTitle = "Vendor";
            SourceDescriptionTitle = "Rebate Type";
            break;
    }


    <div id="commissionContainerDiv">
        <div class="col-sm-6">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div style="clear:both"></div>
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-hover table-striped table-responsive" id="volumesTable" style="padding-top:10px;">
                    <thead>
                        <tr>
                            <th width=20%>
                                @SourceDateTitle
                            </th>
                            <th width="30%">
                                @SourceNameTitle
                            </th>
                            <th width="30%">
                                @SourceDescriptionTitle
                            </th>
                            <th width="20%"style="text-align: right;">
                                Amount
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.VolumeDetailList)
                        {
                            total = total + item.VolumeTotal;
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SourceDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SourceName)
                                </td>
                                <td>
                                    @if (SourceNameTitle == "Vendor")
                                    {
                                        @Html.DisplayFor(modelItem => item.VolumeName)
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.SourceDescription)
                                    }
                                </td>



                                <td style="text-align: right;">
                                    @Html.DisplayFor(modelItem => item.VolumeTotal)
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td style="text-align: right;font-weight:bold;">Total:</td>
                            <td style="text-align: right;">@total.ToString("C2")</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
           // initializeVolumesTable();
            $.validator.unobtrusive.parse(document);
        });

        function initializeVolumesTable() {
            $('#volumesTable').dataTable(
            {
                "searching": false,
                "bLengthChange": false,
                "oLanguage": {
                    "sInfo": "Showing rows _START_ to _END_ of _TOTAL_",
                    "sLengthMenu": "Show _MENU_ rows per page",
                    "sInfoEmpty": "0 records found",
                    "sEmptyTable": "No commissions available to display"
                }
            });
        };

    </script>
}


